@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  font-style: normal;
  font-family: DM Sans;
  background: #fff;
  color: #170F49;
}

.wrapper a {
  color: inherit;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

.well-send {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 40px;
  line-height: 111%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.well-send .well-send__load,
.well-send .well-send__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.well-send .well-send__load {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.well-send .well-send__load.active {
  opacity: 1;
  visibility: visible;
}

.well-send .well-send__text {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 70px;
  border-radius: 35px;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

.well-send .well-send__text.active {
  opacity: 1;
  visibility: visible;
}

.well-send .well-send__text span {
  position: relative;
}

.well-send .well-send__text span::after,
.well-send .well-send__text span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background: #fff;
}

.well-send .well-send__text span::after {
  transform: rotate(-45deg) translate(5px, 0);
}

.well-send .well-send__text span::before {
  width: 15px;
  transform: rotate(45deg) translate(-3px, 3px);
}

.well-send.active {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 5px;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  background-color: #170F49;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
}

::-webkit-resizer {
  /* 7 - изменение размеров */
}

.slider {
  position: relative;
}

.slider .slick-track {
  display: flex;
  gap: 0;
}

.slider .slick-slide {
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}

.slider .slick-slide.slick-center {
  visibility: visible;
  opacity: 1;
}

.slider .slick-arrow {
  z-index: 10;
  font-size: 0;
  position: absolute;
}

.slider .slick-arrow.slick-prev::after {
  content: url(svg/arrow.svg);
}

.slider .slick-arrow.slick-next::after {
  content: url(svg/arrow.svg);
}

.slider .slick-dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slider .slick-dots li {
  cursor: pointer;
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 3px;
  opacity: 0.4;
}

.slider .slick-dots li.slick-active {
  opacity: 1;
}

.slider .slick-dots button {
  font-size: 0;
}

main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main .form__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

main .page .page__title {
  font-weight: 700;
  line-height: 135%;
  text-align: center;
  font-size: 34px;
  margin-bottom: 12.1px;
}

main .page .page__text {
  font-weight: 500;
  line-height: 167%;
  text-align: center;
  color: #6F6C90;
  font-size: 18px;
  margin-bottom: 42.49px;
}

main .page .page__content {
  background: #FAF8F8;
  border: 1px solid #EFF0F7;
  box-sizing: border-box;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  padding-top: 24.41px;
  padding-bottom: 60px;
  padding-left: 46px;
  padding-right: 46px;
  margin-bottom: 48.41px;
}

main .content-page__head {
  border-bottom: 1px solid #D9DBE9;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-right: 18px;
}

main .content-page__title {
  margin: 0 0 6px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 145.8333333333%;
}

main .content-page__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 166.6666666667%;
}

main .content-page__main {
  padding-top: 48px;
  padding-left: 46px;
  padding-right: 46px;
}

main .form input::-webkit-outer-spin-button,
main .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .form-input,
main .form-check {
  max-width: 284px;
  width: 100%;
}

main .form-input.true,
main .form-check.true {
  border: 1px solid green;
}

main .form-input.error,
main .form-check.error {
  border: 1px solid red;
}

main .block-page-content__error {
  display: none;
  color: red;
  text-align: center;
  margin: 5px 0 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 166.6666666667%;
}

main .block-page-content__error.error {
  display: block;
}

main .select {
  max-width: 284px;
  width: 100%;
  position: relative;
}

main .select__toggle {
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 111%;
  color: #170F49;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  width: 100%;
  position: relative;
}

main .select__toggle::after {
  content: url(../img/arrow.png);
  position: absolute;
  top: 50%;
  right: 0px;
  padding: 20px;
  transform-origin: center;
  border-radius: 50%;
  transition: all 0.3s;
  background: #fff;
  transform: translate(0, -50%);
}

main .select__toggle.not-active {
  color: #6F6C90;
}

main .select__toggle.true {
  border: 1px solid green;
}

main .select__toggle.error {
  border: 1px solid red;
}

main .select__dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #170F49;
}

main .select__dropdown li {
  cursor: pointer;
  padding: 15px 30px;
  transition: all 0.3s;
}

main .select__dropdown li:hover {
  background: #d1f4ff;
}

main .select_show .select__dropdown {
  display: block;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.5);
}

main .select_show .select__toggle {
  color: #170F49;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.5);
  border: 1px solid #EFF0F7;
}

main .select_show .select__toggle::after {
  transform: translate(0, calc(-50% - 3px)) rotate(180deg);
}

main .content-page__block {
  margin-bottom: 48px;
}

main .content-page__block input {
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
}

main .content-page__block input:focus {
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.5);
  border: 1px solid #EFF0F7;
}

main .block-page-content__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 111.1111111111%;
  margin-bottom: 18px;
}

main .content-page__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .content-page__next.submit {
  justify-content: space-between;
}

main .content-page__button {
  text-align: center;
}

main .button {
  background: linear-gradient(180deg, #9E96F2 0%, #EC31F0 100%);
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  padding: 20px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 83.3333333333%;
  transition: all 1s;
  position: relative;
}

main .button.text::after {
  content: "Back";
  position: absolute;
  color: #FF3AF7;
  font-weight: 700;
  font-size: 24px;
  line-height: 83.3333333333%;
  top: 50%;
  padding: 17px 38px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border-radius: 56px;
  background: #ffffff;
}

main .date-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

main .textarea {
  resize: none;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-sizing: border-box;
  max-width: 284px;
  height: 121px;
  margin: -100% 0 0 0;
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 21px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
  position: relative;
}

main .textarea::-webkit-scrollbar {
  width: 2.5px;
}

main .textarea::-webkit-scrollbar-track-piece {
  background-color: #fff;
  margin: 11px 0;
}

main .textarea:focus {
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.5);
}

main .textarea.active {
  margin: 0 0 0 0;
  opacity: 1;
  visibility: visible;
}

main .textarea.true {
  border: 1px solid green;
}

main .textarea.error {
  border: 1px solid red;
}

@media (max-width: 768px) {
  main .form__container {
    width: 100%;
  }

  main .content-page__next.submit .content-page__button:first-child {
    margin: 0 0 0 15px;
  }

  main .content-page__next.submit .content-page__button:last-child {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 700px) {
  .well-send {
    font-size: calc(20px + 20 * ((100vw - 320px) / 380));
  }

  .well-send .well-send__text {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 380));
  }

  .well-send .well-send__text {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 380));
  }

  .well-send .well-send__text {
    padding-left: calc(15px + 5 * ((100vw - 320px) / 380));
  }

  .well-send .well-send__text {
    padding-right: calc(50px + 20 * ((100vw - 320px) / 380));
  }

  .well-send .well-send__text {
    border-radius: calc(15px + 20 * ((100vw - 320px) / 380));
  }

  main .form__container {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 380));
  }

  main .form__container {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 380));
  }

  main .page .page__title {
    font-size: calc(20px + 14 * ((100vw - 320px) / 380));
  }

  main .page .page__title {
    margin-bottom: calc(10px + 2.1 * ((100vw - 320px) / 380));
  }

  main .page .page__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 380));
  }

  main .page .page__text {
    margin-bottom: calc(15px + 27.49 * ((100vw - 320px) / 380));
  }

  main .page .page__content {
    padding-top: calc(20px + 4.41 * ((100vw - 320px) / 380));
  }

  main .page .page__content {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 380));
  }

  main .page .page__content {
    padding-left: calc(20px + 26 * ((100vw - 320px) / 380));
  }

  main .page .page__content {
    padding-right: calc(20px + 26 * ((100vw - 320px) / 380));
  }

  main .page .page__content {
    margin-bottom: calc(15px + 33.41 * ((100vw - 320px) / 380));
  }

  main .content-page__head {
    padding-bottom: calc(15px + 1 * ((100vw - 320px) / 380));
  }

  main .content-page__head {
    padding-left: calc(15px + 3 * ((100vw - 320px) / 380));
  }

  main .content-page__head {
    padding-right: calc(15px + 3 * ((100vw - 320px) / 380));
  }

  main .content-page__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 380));
  }

  main .content-page__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 380));
  }

  main .content-page__main {
    padding-top: calc(20px + 28 * ((100vw - 320px) / 380));
  }

  main .content-page__main {
    padding-left: calc(20px + 26 * ((100vw - 320px) / 380));
  }

  main .content-page__main {
    padding-right: calc(20px + 26 * ((100vw - 320px) / 380));
  }

  main .block-page-content__error {
    font-size: calc(14px + 4 * ((100vw - 320px) / 380));
  }

  main .select__toggle {
    padding-top: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .select__toggle {
    padding-bottom: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .select__toggle {
    padding-left: calc(20px + 0 * ((100vw - 320px) / 380));
  }

  main .select__toggle {
    padding-right: calc(20px + 0 * ((100vw - 320px) / 380));
  }

  main .content-page__block input {
    padding-top: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .content-page__block input {
    padding-bottom: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .content-page__block input {
    padding-left: calc(20px + 0 * ((100vw - 320px) / 380));
  }

  main .content-page__block input {
    padding-right: calc(20px + 0 * ((100vw - 320px) / 380));
  }

  main .content-page__block {
    margin-bottom: calc(15px + 33 * ((100vw - 320px) / 380));
  }

  main .block-page-content__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 380));
  }

  main .block-page-content__title {
    margin-bottom: calc(10px + 8 * ((100vw - 320px) / 380));
  }

  main .button {
    font-size: calc(20px + 4 * ((100vw - 320px) / 380));
  }

  main .button.text::after {
    font-size: calc(20px + 4 * ((100vw - 320px) / 380));
  }

  main .date-content {
    flex-wrap: wrap;
  }

  main .date-content {
    gap: calc(10px + 54 * ((100vw - 320px) / 380));
  }

  main .textarea {
    padding-top: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .textarea {
    padding-bottom: calc(20px + 2 * ((100vw - 320px) / 380));
  }

  main .textarea {
    padding-left: calc(20px + 0 * ((100vw - 320px) / 380));
  }

  main .textarea {
    padding-right: calc(20px + 0 * ((100vw - 320px) / 380));
  }
}